body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.navbar {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.app_title, .nav_link {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
}

.app_title {
    font-size: 2.5em;
    width: 15vw;
    text-align: center;
    font-family: 'Josefin Slab', serif;
}

.link_set {
    width: 60vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
}

.nav_link:hover {
    background-color: rgb(150,150,150);
}

.planning {
    width: 100%;
    background-color: rgb(225,225,225);
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.plan_info {
    width: 100vw;
    font-size: 2em;
    background-color: green;
    color: white;
    padding: 10px;
    text-align: center;
}

.plan_part {
    width: 30vw;
    padding: 25px 0;
    margin: 15px 0;
    background-color: darkblue;
    color: white;
    text-align: center;
}

.signup {
    background-color: lightblue;
    text-align: center;
}

.login {
    background-color: lightgreen;
    text-align: center;
}

.home {
    background-color: pink;
    text-align: center;
}

.profile {
    background-color: lavender;
    text-align: center;
}

.beers {
    background-color: tan;
}

.wines {
    background-color: coral;
}

.signup_button {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: black;
    color: white;
}

.signup_section_title {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    font-size: 1.25em;
    background-color: white;
    width: 90%;
    color: black;
}

.signup_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.signup_submit_button {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    width: 90%;
    background-color: darkgreen;
    color: white;
}

.signup_skip_button {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    width: 90%;
    background-color: darkorange;
    color: white;
}

.signup_progress {
    width: 80%;
    margin: 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress_section {
    padding: 5px;
}

.sec_done {
    background-color: rgb(10, 59, 0);
    color: white;
}

.sec_now {
    background-color: transparent;
    color: black;
}

.sec_future {
    background-color: rgb(0, 85, 91);
    color: white;
}

.paired-beer {
    background-color: green;
}

.view-recipe {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    background-color: grey;
    display: inline-block;
}
