body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.navbar {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.app_title, .nav_link {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
}

.app_title {
    font-size: 2.5em;
    width: 15vw;
    text-align: center;
    font-family: 'Josefin Slab', serif;
}

.link_set {
    width: 60vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
}

.nav_link:hover {
    background-color: rgb(150,150,150);
}

/***************/
/*PLANNING PAGE*/
/***************/
.planning {
    width: 100%;
    height: 90vh;
    background-color: rgb(225,225,225);
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.plan-title {
    grid-row: span 1;
    grid-column: span 1;
}

.save-picnik-buttons-container {
    grid-row: span 1;
    grid-column: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: cornflowerblue;
}

.save-picnik-button {
    grid-row: span 1;
    grid-column: span 1;
}

.plan-submit-buttons {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    background-color: lightcoral;
    display: block;
    font-size: 12px;
}

.planning-container-tab:hover {
    background-color: burlywood;
    cursor: pointer;
}

.plan-submit-buttons:hover {
    background-color: darkgrey;
    cursor: pointer;
}

.picnik-planner-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1fr;
    width: 100vw;
    height: 80vh;
}

.planning-page-picnik-chooser {
    grid-column: span 1;
    grid-row: span 1;
    background-color: gold;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 7fr;
}

.planning-container-tab {
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-planning-container {
    grid-column: span 3;
    grid-row: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornsilk;
}

.planning-page-picnik-tracker {
    grid-column: span 1;
    grid-row: span 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr 1fr;
    background-color: yellow;
}

.current-picnik-basket-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

.current-picnik-basket {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: lavender;
}

.basket-choice-types {
    height: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.choice-type {
    grid-row: span 1;
    grid-column: span 1;
    background-color: peachpuff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice-type:hover {
    background-color: rebeccapurple;
    color: white;
}

.choice-type > div {
    font-size: 125%;
}

.basket-choices {
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.choice {
    text-align: center;
    padding: 5px;
}

/*.current-picnik-basket > div {
    width: 100%;
}*/

.plan_part {
    width: 100%;
    height: 75vh;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: blanchedalmond;
    text-align: center;
}

.plan_part_wrap {
    overflow: hidden;
}

/*DRINKS PLANNING*/
.drinks-wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.beers {
    grid-row: span 1;
    grid-column: span 1;
    background-color: tan;
    overflow-x: hidden;
    overflow-y: scroll;
}

.wines {
    grid-row: span 1;
    grid-column: span 1;
    background-color: coral;
    overflow-x: hidden;
    overflow-y: scroll;
}

/*MAP PLANNING*/
.map-wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 7fr;
}

.zip-entry {
    grid-row: span 1;
    grid-column: span 2;
    background-color: mistyrose;
    overflow: hidden;
}

.date-picker {
    grid-row: span 1;
    grid-column: span 1;
    background-color: lemonchiffon;
    overflow: hidden;
}

.park-set {
    grid-row: span 1;
    grid-column: span 1;
    background-color: deepskyblue;
    overflow-y: scroll;
    overflow-x: hidden;
}

.park {
    height: 50px;
    padding-bottom: 5px;
    margin: 10px 5%;
    border-bottom: 10px solid white;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}

.park_name {
    font-size: 110%;
    text-align: left;
}

.park_address {
    color: black;
    text-align: left;
}

.park-button {
    line-height: 2.5em;
    text-align: center;
    height: 40px;
    width: 100px;
    background-color: grey;
    padding: 5px;
    border-radius: 10px;
}

.park-button:hover {
    background-color: darkgrey;
}

/*************/
/*SIGNUP PAGE*/
/*************/
.signup {
    background-color: lightblue;
    text-align: center;
}

/************/
/*LOGIN PAGE*/
/************/
.login {
    background-color: lightgreen;
    text-align: center;
}

/***********/
/*HOME PAGE*/
/***********/
.home {
    text-align: center;
}

/**************/
/*PROFILE PAGE*/
/**************/
.profile {
    background-color: lavender;
    text-align: center;
}



.signup_button {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: black;
    color: white;
}

.signup_button:hover {
    cursor: pointer;
}

.signup_button_selected {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: darkgrey;
    color: white;
}

.signup_button_selected:hover {
    cursor: pointer;
}

.signup_section_title {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    font-size: 1.25em;
    background-color: white;
    width: 98%;
    color: black;
}

.signup_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.signup_submit_button {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    width: 90%;
    background-color: darkgreen;
    color: white;
}

.signup_submit_button:hover {
    background-color: lightgreen;
    cursor: pointer;
}

.signup_skip_button {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    width: 90%;
    background-color: darkorange;
    color: white;
}

.signup_progress {
    width: 80%;
    margin: 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup_progress div:hover {
    background-color: yellow;
    cursor: pointer;
}

.progress_section {
    padding: 5px;
}

.sec_done {
    background-color: rgb(10, 59, 0);
    color: white;
}

.sec_now {
    background-color: transparent;
    color: black;
}

.sec_future {
    background-color: rgb(0, 85, 91);
    color: white;
}

.paired-beer {
    background-color: green;
}

.paired-wine {
    background-color: green;
}

.recipe-buttons {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    background-color: grey;
    display: inline-block;
    font-size: 12px;
}

.recipe-buttons:hover {
    background-color: darkgrey;
    cursor: pointer;
}

.drink-buttons {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    background-color: lightgreen;
    display: inline-block;
}

.drink-buttons:hover {
    background-color: green;
    cursor: pointer;
}

.check_mark {
    width: 20px;
    display: inline-block;
    margin-right: 5px;
}

.cuisine-matched-recipe {
    color: yellow;
}



.invitations-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.invitations-picnik-summary {
    width: 90%;
    margin-bottom: 20px;
    background-color: yellow;
}

.invitations-picnik-summary div {
    margin: 10px;
    background-color: lightgrey;
}

.invitations-entry {
    width: 90%;
    margin-bottom: 20px;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    margin-top: 20px;
}

.invitations-content-title {
    text-align: center;
    font-size: 1.25em;
    width: 95%;
}

.invitation-submit-button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    width: 30%;
    background-color: darkgreen;
    color: white;
    text-align: center;
}

.invitation-submit-button:hover {
    background-color: lightgreen;
    cursor: pointer;
}

.invitation-clear-button {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: red;
    color: white;
    text-align: center;
}

.invitation-clear-button:hover {
    cursor: pointer;
    background-color: darkred;
}

.add-to-guest-list-button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    width: 30%;
    background-color: darkgreen;
    color: white;
    text-align: center;
}

.add-to-guest-list-button:hover {
    background-color: lightgreen;
    cursor: pointer;
}

.guest-display {
    width: 90%;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    margin-top: 20px;
}

.invitations-guest-list-section, .invitations-display-section {
    width: 45%;
    background-color: grey;
    margin: 10px;
    padding: 10px;
}

.user-preferred-recipe-good {
    color: yellow;
}

.user-preferred-recipe-great {
    color: lightgreen;
}

.user-preferred-recipe-excellent {
    color: green;
}

.user-preferred-recipe-poor {
    color: darkblue;
}

.saved_items {
    background-color: green;
}

.saved_items_title {
    font-size: 1.25em;
}
